@import "./colors.scss";
@import "./mixins.scss";
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-input {
  width: 100%;
  height: 60px;
  display: flex;
  padding: 5px 9px;
  background-color: $secondary-background-color;

  .amazon-logo {
    width: 113px;
    height: 50px;
    padding: 13px 8px 0px 6px;
    cursor: pointer;
  }

  .amazon-logo:hover {
    outline: 1px solid #ffffff;
    border-radius: 2px;
  }

  .deliver-spacing {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 9px 0 9px;
    margin: 0px 2px 5px 5px;
    cursor: pointer;

    .location-logo {
      width: 19px;
      height: 22px;
      margin-top: 5px;
    }

    .deliver {
      border: none;
      background-color: $secondary-background-color;
      color: #ffffff;

      .deliver-to {
        display: flex;
        font-size: 11px;
        color: #cccccc;
        cursor: pointer;
      }

      .uk {
        font-size: $font-size-14px;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .deliver-spacing:hover {
    outline: 1px solid #ffffff;
    border-radius: 2px;
  }
}

.search-bar {
  width: 672px;
  height: 38px;
  display: flex;
  align-items: center;
  margin: 6px 10px;
  background-color: #ffffff;
  border-radius: 4px;

  .select-niche {
    height: 38px;
    padding: 0 0 0 5px;
    font-size: $font-size-12px;
    background-color: #e6e6e6;
    color: #0f1111;
    border-radius: 4px 0 0 4px;
    border: none;
  }

  .search-amazon {
    width: 541px;
    padding: 11px 0px;
    border: none;
  }

  .search-amazon::placeholder {
    font-size: $font-size-14px;
    padding-left: 7px;
  }

  .search-button {
    width: 45px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffbc58;
    border: none;
    border-radius: 0px 4px 4px 0px;
  }

  .search-button img {
    width: 24px;
    height: 24px;
  }
}

.amazon-tools {
  display: flex;

  .change-language {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px 2px 0px 9px;
    color: #ffffff;
    font-size: $font-size-12px;
    font-weight: bold;
    cursor: pointer;

    img {
      width: 19px;
      height: 14px;
      margin-right: 4px;
    }

    .dropdown {
      width: 15px;
      height: 10px;
      margin-top: 6px;
    }
  }
  .sign-in {
    height: 50px;
    display: flex;
    padding: 0px 9px 10px;
    color: #ffffff;
    cursor: pointer;

    .sign-in-spacing {
      padding-top: 5px;
    }

    .sign-in-text {
      font-size: $font-size-12px;
    }

    .account-list {
      font-size: $font-size-14px;
    }
  }

  .sign-in-dropdown {
    width: 15px;
    height: 10px;
    margin: 29px 0 0 2px;
  }

  .sign-in:hover {
    outline: 1px solid #ffffff;
    border-radius: 2px;
  }

  .returns-orders {
    height: 50px;
    padding: 5px 9px 10px;
    cursor: pointer;
  }

  .returns-orders span {
    font-size: $font-size-12px;
    color: #ffffff;
  }

  .returns-orders p {
    font-size: $font-size-14px;
    font-weight: bold;
    color: #ffffff;
  }

  .returns-orders:hover {
    outline: 1px solid #ffffff;
    border-radius: 2px;
  }
}

.change-language:hover {
  outline: 1px solid #ffffff;
  border-radius: 2px;
}

.nav-bar {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #232f3e;

  a:first-child img {
    width: 14px;
    height: 17px;
    margin-right: 2px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 9px;
    margin-left: 5px;
    font-size: $font-size-14px;
    font-weight: bold;
    color: $primary-text-color;
  }

  a:hover {
    outline: 1px solid #ffffff;
    border-radius: 2px;
  }
}
