@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin border($border) {
  border: $border;
  -webkit-border: $border;
  -moz-border-image: $border;
}
// .element {
//   @include border-radius((12px));
// }
