@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin outline($outline) {
  outline: $outline;
}

// .element {
//   @include border-radius((12px));
// }
