@import "/src/sass/mixins.scss";
@import "/src/sass/variables.scss";
@import "/src/sass/colors.scss";

.sign-in-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 18px;

  .image-spacing {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      width: 103px;
      height: 31px;
    }
  }

  .sign-in-spacing {
    width: 100%;
    display: flex;
    justify-content: center;

    .sign-in-box {
      width: 348px;
      height: 358px;
      padding: 20px 26px;
      margin-top: 20px;
      border: 2px solid #eeeeee;
      border-radius: 8px;

      h1 {
        margin-bottom: 10px;
        font-size: 28px;
        font-weight: normal;
      }

      .enter-info-text {
        font-size: $font-size-13px;
        font-weight: bold;
      }

      .enter-email {
        display: flex;
        flex-direction: column;

        input {
          padding: 6px 7px;
          margin: 2px 0 12px;
          border: 1px solid #a6a6a6;
          border-radius: 4px;
        }

        button {
          padding: 8px 7px;
          border: none;
          border-radius: 8px;
          font-size: $font-size-13px;
          color: #000000;
          background-color: $primary-button-color;
          box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
          cursor: pointer;
        }

        button:hover {
          background-color: $primary-button-hover-color;
        }
      }

      p {
        margin-top: 18px;
        font-size: $font-size-12px;
        color: #000000;

        a {
          color: #0066c0;
          @include linkHoverEffect;
        }
      }
    }
  }
}
