@import "/src/sass/mixins.scss";
@import "/src/sass/variables.scss";
@import "/src/sass/colors.scss";

.products-page {
  display: flex;
  padding: 14px 18px 18px;
  font-size: $font-size-14px;
  color: #0f1111;

  .filter-products {
    width: 198px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #ddd;

    span {
      margin-bottom: 8px;
      font-weight: bold;
    }

    .category {
      margin-left: 12px;
    }

    .choose-category {
      display: flex;
      flex-direction: column;
      margin-left: 24px;

      a {
        margin-bottom: 4px;
        text-decoration: none;
        color: #0f1111;
      }

      a:hover {
        text-decoration: none;
        @include linkHoverEffect;
      }
    }
  }

  .products {
    h1 {
      padding: 0 0 4px 12px;
      font-size: 28px;
    }

    .products-description {
      padding-left: 12px;
    }

    h2 {
      padding-left: 12px;
      margin-top: 54px;
      font-size: 28px;
    }

    .top-rated-grid {
      display: grid;
      grid-template-columns: 240px 240px 240px 240px;
      column-gap: 5px;
      margin: 10px 0 0 12px;

      .top-rated-spacing {
        display: flex;

        .top-rated-item {
          height: 250px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-right: 4px;
          position: relative;
          background-color: #f7f4f4;
          cursor: pointer;

          .quick-look {
            width: 201px;
            height: 29px;
            position: absolute;
            bottom: 9px;
            text-align: center;
            border-radius: 7px;
            border: 1px solid #cfcfcf;
            background-color: #ffffff;
            cursor: pointer;
          }

          .quick-look:hover {
            background-color: #f1f6fa;
          }

          img {
            width: 180px;
            max-height: 230px;
          }
        }

        .top-rated-info {
          height: 116px;
          width: 100%;
          padding: 10px 20px 0 20px;
          background-color: #fcfafa;
          cursor: pointer;

          h3 {
            font-size: 21px;
            font-weight: normal;
          }

          h6 {
            margin-top: 10px;
            font-size: $font-size-12px;
            text-decoration: line-through;
            color: #565959;
          }

          p {
            width: 200px;
            margin-bottom: 9px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .review-spacing {
            display: flex;

            .review-stars {
              width: 71px;
              height: 14px;
            }

            span {
              margin-left: 3px;
              font-size: $font-size-12px;
            }
          }
        }
      }
    }

    .under-25-grid {
      display: grid;
      grid-template-columns: 240px 240px 240px 240px;
      column-gap: 5px;
      margin: 10px 0 0 12px;

      .under-25-spacing {
        display: flex;

        .under-25-item {
          height: 250px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-right: 4px;
          position: relative;
          background-color: #f7f4f4;
          cursor: pointer;

          .quick-look {
            width: 201px;
            height: 29px;
            position: absolute;
            bottom: 9px;
            text-align: center;
            border-radius: 7px;
            border: 1px solid #cfcfcf;
            background-color: #ffffff;
            cursor: pointer;
          }

          .quick-look:hover {
            background-color: #f1f6fa;
          }

          img {
            width: 180px;
            max-height: 230px;
          }
        }

        .under-25-info {
          height: 116px;
          width: 100%;
          padding: 10px 20px 0 20px;
          background-color: #fcfafa;
          cursor: pointer;

          h3 {
            font-size: 21px;
            font-weight: normal;
          }

          h6 {
            margin-top: 10px;
            font-size: $font-size-12px;
            text-decoration: line-through;
            color: #565959;
          }

          p {
            width: 200px;
            margin-bottom: 9px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .review-spacing {
            display: flex;

            .review-stars {
              width: 71px;
              height: 14px;
            }

            span {
              margin-left: 3px;
              font-size: $font-size-12px;
            }
          }
        }
      }
    }
  }
}
