@import "/src/sass/mixins.scss";
@import "/src/sass/variables.scss";
@import "/src/sass/colors.scss";

.products-page {
  padding: 14px 18px 18px;
  font-size: $font-size-14px;
  color: #0f1111;

  .filter-products {
    width: 198px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #ddd;

    span {
      margin-bottom: 8px;
      font-weight: bold;
    }

    .category {
      margin-left: 12px;
    }

    .choose-category {
      display: flex;
      flex-direction: column;
      margin-left: 24px;

      a {
        margin-bottom: 4px;
        text-decoration: none;
        color: #0f1111;
      }

      a:hover {
        text-decoration: none;
        @include linkHoverEffect;
      }
    }
  }
}
