@import "/src/sass/mixins.scss";
@import "/src/sass/variables.scss";
@import "/src/sass/colors.scss";

.add-address-modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(0 0 0 / 40%);

  .add-address {
    width: 720px;
    border-radius: 11px;
    background-color: #ffffff;

    .address-modal-header {
      height: 63px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-top-right-radius: 11px;
      border-top-left-radius: 11px;
      border-bottom: $tertiary-border-color;
      background-color: #f0f2f2;

      span {
        font-size: $font-size-16px;
        font-weight: bold;
      }

      .close-modal {
        padding: 6px 8px;
        border: none;
        border-radius: 7px;
        cursor: pointer;

        img {
          width: 17px;
        }
      }

      .close-modal:hover {
        border: 1px solid #007185;
      }
    }
  }
}
