@import "/src/sass/mixins.scss";
@import "/src/sass/variables.scss";
@import "/src/sass/colors.scss";

.add-address-modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

  .add-address {
    width: 720px;
    position: absolute;
    z-index: 1;
    border-radius: 11px;
    background-color: #ffffff;
    box-shadow: 0 0 14px 0 rgba(15, 17, 17, 0.5);

    .address-modal-header {
      height: 63px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-top-right-radius: 11px;
      border-top-left-radius: 11px;
      border-bottom: $tertiary-border-color;
      background-color: #f0f2f2;

      span {
        font-size: $font-size-16px;
        font-weight: bold;
      }

      .close-modal {
        padding: 6px 8px;
        border: none;
        border-radius: 7px;
        cursor: pointer;

        img {
          width: 17px;
        }
      }

      .close-modal:hover {
        border: 1px solid #007185;
      }
    }

    .address-modal-info {
      padding: 16px 24px;

      .add-address-text {
        margin-bottom: 15px;
        font-size: 24px;
      }

      .warning {
        display: flex;
        margin-bottom: 7px;
        color: #e20606;

        img {
          width: 8px;
          margin-right: 5px;
        }
      }

      .full-name-input {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 3px;
          font-size: $font-size-14px;
          font-weight: bold;
        }

        input {
          height: 31px;
          width: 450px;
          padding-left: 5px;
          margin-bottom: 7px;
          border-radius: 4px;
          outline: none;
          box-shadow: 0 1px 2px rgba(15, 17, 17, 0.15) inset;
        }

        input:focus {
          border-color: #007185;
          background-color: #f7feff;
          box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgba(15, 17, 17, 0.15) inset;
        }
      }

      .phone-number-input {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 3px;
          font-size: $font-size-14px;
          font-weight: bold;
        }

        input {
          height: 31px;
          width: 450px;
          padding-left: 5px;
          margin-bottom: 7px;
          border-radius: 4px;
          outline: none;
          box-shadow: 0 1px 2px rgba(15, 17, 17, 0.15) inset;
        }

        input:focus {
          border-color: #007185;
          background-color: #f7feff;
          box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgba(15, 17, 17, 0.15) inset;
        }
      }

      .address-input {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 3px;
          font-size: $font-size-14px;
          font-weight: bold;
        }

        input {
          height: 31px;
          width: 450px;
          padding-left: 5px;
          margin-bottom: 7px;
          border-radius: 4px;
          outline: none;
          box-shadow: 0 1px 2px rgba(15, 17, 17, 0.15) inset;
        }

        input:focus {
          border-color: #007185;
          background-color: #f7feff;
          box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgba(15, 17, 17, 0.15) inset;
        }
      }

      .city-zip-spacing {
        display: flex;
        flex-direction: column;

        .zip-code-text {
          font-size: $font-size-14px;
          font-weight: bold;
        }

        .city-zip-label {
          margin-bottom: 3px;
          font-size: $font-size-14px;
          font-weight: bold;

          .city-label {
            margin-right: 236px;
          }
        }
      }

      @media (max-width: 586px) {
        .full-name-input {
          input {
            width: auto;
          }
        }

        .phone-number-input {
          input {
            width: auto;
          }
        }

        .address-input {
          input {
            width: auto;
          }
        }

        .city-zip-spacing {
          .city-input {
            width: auto;
          }

          .city-zip-label {
            .city-label {
              margin-right: 100px;
            }
          }

          .zip-code-input {
            width: auto;
          }
        }
      }

      .city-input {
        height: 31px;
        width: 250px;
        padding-left: 5px;
        margin-right: 10px;
        margin-bottom: 7px;
        border-radius: 4px;
        outline: none;
        box-shadow: 0 1px 2px rgba(15, 17, 17, 0.15) inset;
      }

      .city-input:focus {
        border-color: #007185;
        background-color: #f7feff;
        box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgba(15, 17, 17, 0.15) inset;
      }

      .zip-code-input {
        height: 31px;
        width: 250px;
        padding-left: 5px;
        margin-right: 10px;
        margin-bottom: 7px;
        border-radius: 4px;
        outline: none;
        box-shadow: 0 1px 2px rgba(15, 17, 17, 0.15) inset;
      }

      .zip-code-input:focus {
        border-color: #007185;
        background-color: #f7feff;
        box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgba(15, 17, 17, 0.15) inset;
      }

      .use-address-button {
        padding: 30px 0;

        button {
          padding: 8px 10px;
          border: none;
          border-radius: 8px;
          font-size: 13px;
          background-color: $primary-button-color;
          box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
          cursor: pointer;
        }

        button:hover {
          background-color: $primary-button-hover-color;
        }
      }
    }
  }

  @media (max-width: 738px) {
    .add-address {
      width: auto;
      margin-top: 60px;
    }
  }

  .modal-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
  }
}
