@import "/src/sass/colors.scss";
@import "/src/sass/mixins.scss";
@import "/src//sass/variables.scss";

.triangle {
  width: 15px;
  height: 10px;
  position: absolute;
  top: 44px;
  right: 314px;
}

.language-change {
  width: 240px;
  height: auto;
  padding: 14px;
  position: absolute;
  top: 53px;
  right: 139px;
  border-radius: 3px;
  border: 1px solid #bbbbbb;
  background-color: $primary-background-color;

  .language-change-text {
    display: flex;
    align-items: center;
    font-size: $font-size-13px;
    color: #444444;

    a {
      margin-left: 5px;
      font-size: 11px;
      color: $link-text-color;
      text-decoration: none;
    }

    a:hover {
      @include linkHoverEffect;
    }
  }
}
