@import "/src/sass/colors.scss";
@import "/src/sass/mixins.scss";
@import "/src//sass/variables.scss";

.carousel {
  height: 330px;
  display: flex;
  position: relative;

  .carousel-item {
    width: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .carousel-image {
      max-width: 100%;
      padding: 10px 0;
    }

    .carousel-product-title {
      text-align: start;
    }
  }

  .right-arrow-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .left-arrow-button {
    position: absolute;
    top: 0;
    left: 0;
  }
}
