@import "/src/sass/colors.scss";
@import "/src/sass/mixins.scss";
@import "/src//sass/variables.scss";

.carousel-spacing {
  width: 1349px;
  position: relative;
  margin-right: 2px;
  overflow: hidden;

  .carousel {
    height: 220px;
    display: flex;
    justify-content: space-around;
    transform: translate(90%, 10px);

    .carousel-item {
      width: 160px;
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      background-color: #ffffff;
      cursor: pointer;

      .carousel-image {
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 160px;
          max-height: 160px;
          padding: 10px 0;
        }
      }

      .carousel-product-title {
        width: 160px;
        height: 19px;
        margin-top: 5px;
        font-size: $font-size-14px;
        text-align: start;
        text-overflow: ellipsis;
        color: $secondary-link-text-color;
        overflow: hidden;
        white-space: nowrap;
      }

      .carousel-product-title:hover {
        color: #e47911;
        text-decoration: none;
      }

      .carousel-item-rating {
        display: flex;
        align-items: center;
        margin-top: 10px;

        span {
          margin-left: 5px;
          font-size: $font-size-14px;
          color: $secondary-link-text-color;
        }

        img {
          width: 75px;
          padding-bottom: 1px;
        }
      }

      .carousel-item-price {
        margin-top: 5px;
        font-size: $font-size-18px;
        font-weight: normal;
        color: #b12704;
      }
    }
  }

  .right-arrow-button {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 48%;
    right: 4px;
    border-radius: 7px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 50%);
    cursor: pointer;

    img {
      width: 13px;
    }
  }

  .right-arrow-button:hover {
    background-color: #f0f0f0;
  }

  .left-arrow-button {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 48%;
    left: 4px;
    border-radius: 7px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 50%);
    cursor: pointer;

    img {
      width: 13px;
    }
  }

  .left-arrow-button:hover {
    background-color: #f0f0f0;
  }
}

@media (max-width: 1365px) {
  .carousel-spacing {
    display: none;
  }
}
