@import "/src/sass/colors.scss";
@import "/src/sass/mixins.scss";
@import "/src//sass/variables.scss";

.carousel {
  height: 220px;
  display: flex;
  justify-content: center;
  position: relative;

  .carousel-item {
    width: 160px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .carousel-image {
      height: 140px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 105px;
        padding: 10px 0;
      }
    }

    .carousel-product-title {
      width: 160px;
      height: 19px;
      text-align: start;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .right-arrow-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .left-arrow-button {
    position: absolute;
    top: 0;
    left: 0;
  }
}
