@import "/src/sass/mixins.scss";
@import "/src/sass/variables.scss";
@import "/src/sass/colors.scss";

.purchase-page {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 18px 18px;
  margin: 0 auto;
  color: #0f1111;

  .purchase-page-header {
    width: 100%;
    height: 60px;
    background: linear-gradient(#ffffff, #ececec);
    border-bottom: $tertiary-border-color;

    .purchase-header-spacing {
      width: 1150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 12px auto;

      .amazon-logo {
        width: 102px;
        height: 31px;
      }

      .checkout-text {
        font-size: 28px;
      }

      .locker-logo {
        width: 16px;
        height: 21px;
      }
    }
  }

  .purchase-info {
    width: 1150px;
    padding-top: 10px;
  }
}
