@import "/src/sass/mixins.scss";
@import "/src/sass/variables.scss";
@import "/src/sass/colors.scss";

.purchase-page {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 18px 18px;
  margin: 0 auto;
  color: #0f1111;

  .purchase-page-header {
    width: 100%;
    height: 60px;
    background: linear-gradient(#ffffff, #ececec);
    border-bottom: $tertiary-border-color;

    .purchase-header-spacing {
      width: 1150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 12px auto;

      .amazon-logo {
        width: 102px;
        height: 31px;
        cursor: pointer;
      }

      .checkout-text {
        font-size: 28px;

        a {
          font-size: 25px;
          color: #007185;
          cursor: pointer;
        }
      }

      @media (max-width: 416px) {
        .checkout-text {
          display: none;
        }
      }

      .locker-logo {
        width: 16px;
        height: 21px;
      }
    }

    @media (max-width: 1179px) {
      .purchase-header-spacing {
        width: 100%;
      }
    }
  }

  .purchase-info {
    width: 1150px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

    .shipping-address-text {
      margin-bottom: 9px;
      font-size: $font-size-18px;
      color: #c45500;

      label {
        margin-right: 10px;
      }
    }

    .shipping-address {
      position: relative;
      padding: 18px 18px 64px 18px;
      margin-left: 25px;
      border: $tertiary-border-color;
      border-radius: 8px;

      h3 {
        padding-bottom: 5px;
        margin-bottom: 5px;
        font-size: $font-size-18px;
        border-bottom: 1px solid #a1a1a1;
      }

      .address {
        width: 750px;
        display: flex;
        align-items: center;
        position: relative;
        padding: 10px;
        margin-bottom: 7px;
        border: 1px solid #fbd8b4;
        border-radius: 4px;
        background-color: #fcf5ee;

        input {
          margin-right: 6px;
        }

        .filled-address {
          font-size: $font-size-14px;

          span {
            font-weight: bold;
          }
        }

        .remove-edit {
          position: absolute;
          top: 25%;
          right: 2%;
          font-size: $font-size-14px;
          color: $secondary-link-text-color;

          .edit {
            padding-left: 5px;
            cursor: pointer;
          }

          .edit:hover {
            @include linkHoverEffect;
          }

          .remove {
            padding-right: 5px;
            border-right: $tertiary-border-color;
            cursor: pointer;
          }

          .remove:hover {
            @include linkHoverEffect;
          }
        }
      }

      @media (max-width: 863px) {
        .address {
          width: 100%;
          .remove-edit {
            display: none;
          }
        }
      }

      .add-new-address {
        display: flex;
        align-items: center;
        margin: 9px 0 40px 9px;
        font-size: $font-size-14px;

        img {
          width: 15px;
          margin-right: 5px;
          cursor: pointer;
        }

        a {
          text-decoration: none;
          color: $secondary-link-text-color;
        }

        a:hover {
          @include linkHoverEffect;
        }
      }
    }

    .chosen-address-spacing {
      width: 830px;
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      border-bottom: 1px solid #9e9e9e;

      label {
        margin-right: 10px;
      }

      .chosen-address-text {
        margin-bottom: 9px;
        font-size: $font-size-18px;
      }

      .person-info {
        font-size: $font-size-14px;
        list-style-type: none;
      }

      .change-chosen-address {
        height: 1%;
        font-size: $font-size-14px;
        color: $secondary-link-text-color;
        text-decoration: none;
        cursor: pointer;
      }

      .change-chosen-address:hover {
        @include linkHoverEffect;
      }
    }

    .use-this-address {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 12px 18px 11px;
      border: $tertiary-border-color;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: #f0f2f2;

      button {
        padding: 8px 10px;
        border: none;
        border-radius: 8px;
        font-size: 13px;
        background-color: $primary-button-color;
        box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
        cursor: pointer;
      }

      button:hover {
        background-color: $primary-button-hover-color;
      }
    }

    .payment-method-container {
      width: 830px;
      margin-top: 10px;

      .payment-method-text {
        margin-bottom: 9px;
        font-size: 18px;
        color: #c45500;

        label {
          margin-right: 13px;
        }
      }

      .payment {
        position: relative;
        padding: 18px 18px 64px 18px;
        margin-left: 25px;
        border: $tertiary-border-color;
        border-radius: 8px;

        h3 {
          padding-bottom: 5px;
          margin-bottom: 5px;
          font-size: $font-size-18px;
        }

        .payment-definition {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          padding-bottom: 5px;
          margin-bottom: 5px;
          border-bottom: $tertiary-border-color;
          font-size: $font-size-14px;
          color: #565959;

          .name-on-card-spacing {
            padding-right: 250px;
          }

          @media (max-width: 524px) {
            .name-on-card-spacing {
              padding-right: 25px;
            }
          }
        }

        .current-card {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          border: 1px solid #fbd8b4;
          border-radius: 4px;
          font-size: $font-size-14px;
          background-color: #fcf5ee;

          .checkbox-spacing {
            display: flex;
            align-items: center;
          }

          input {
            margin-right: 6px;
          }

          img {
            width: 36px;
            margin-right: 6px;
          }

          .card-info {
            span {
              font-weight: bold;
            }
          }

          .card-user {
            padding-left: 125px;
          }

          .card-expire-date {
            padding-left: 196px;
          }

          @media (max-width: 870px) {
            .card-user {
              padding-left: 20px;
            }

            .card-expire-date {
              padding-left: 20px;
            }
          }
        }

        .add-card {
          display: flex;
          align-items: center;
          margin: 9px 0 40px 9px;
          font-size: 14px;

          .plus-icon {
            width: 15px;
            margin-right: 5px;
            cursor: pointer;
          }

          .add-card-image {
            width: 42px;
            margin-right: 6px;
          }

          a {
            margin-right: 10px;
            color: $secondary-link-text-color;
            text-decoration: none;
            cursor: pointer;
          }

          a:hover {
            @include linkHoverEffect;
          }

          .amazon-accepts {
            font-size: $font-size-12px;
            color: #565959;
          }
        }

        .use-payment-method {
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 12px 18px 11px;
          border: $tertiary-border-color;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          background-color: #f0f2f2;

          button {
            padding: 8px 10px;
            border: none;
            border-radius: 8px;
            font-size: 13px;
            background-color: $primary-button-color;
            box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
            cursor: pointer;
          }

          button:hover {
            background-color: $primary-button-hover-color;
          }
        }
      }
    }
    @media (max-width: 863px) {
      .payment-method-container {
        width: 100%;
      }
    }

    .selected-card {
      width: 830px;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #9e9e9e;

      .selected-card-text {
        font-size: $font-size-18px;

        label {
          margin-right: 10px;
        }
      }

      .selected-card-info {
        display: flex;
        flex-direction: column;
        font-size: $font-size-14px;

        .selected-card-digits {
          font-weight: bold;
        }

        .selected-card-address {
          width: 252px;
          font-size: $font-size-16px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          cursor: pointer;
        }

        @media (max-width: 448px) {
          .selected-card-address {
            width: 150px;
          }
        }
      }

      .change-selected-card {
        height: 1%;
        font-size: $font-size-14px;
        color: $secondary-link-text-color;
        text-decoration: none;
      }

      .change-selected-card:hover {
        @include linkHoverEffect;
      }
    }

    .purchase-page-products {
      width: 830px;
      padding-top: 10px;

      .purchase-page-products-text {
        margin-bottom: 5px;
        font-size: $font-size-18px;

        label {
          margin-right: 10px;
        }
      }

      .current-products {
        padding: 14px 18px;
        border: $tertiary-border-color;
        border-radius: 8px;

        .arrival-time {
          margin-bottom: 8px;
          font-size: $font-size-18px;
          color: #007600;
        }

        .current-products-paragraph {
          margin-bottom: 5px;
          font-size: $font-size-14px;
          color: #565959;
        }

        .current-products-list {
          display: flex;

          .list {
            width: 50%;
            display: flex;
            flex-direction: column;

            .current-product {
              width: 75%;
              display: flex;
              margin-top: 15px;

              .current-product-image {
                padding: 10px;

                img {
                  width: 90px;
                }
              }

              .product-title {
                font-size: $font-size-14px;
                font-weight: bold;
              }

              .product-price {
                margin-top: 4px;
                font-size: 14px;
                color: #b12704;
              }

              .purchase-page-quantity {
                font-size: $font-size-14px;
              }

              .sold-by-amazon {
                font-size: $font-size-12px;
                color: #565959;
              }
            }
          }
        }
      }

      .choose-delivery-option {
        display: flex;
        flex-direction: column;
        padding-left: 40px;

        label {
          font-weight: bold;
        }

        .delivery-time {
          display: flex;
          align-items: center;

          input {
            margin-right: 4px;
          }

          span {
            font-weight: bold;
            color: #007600;
          }
        }

        .delivery-price {
          margin: 3px 0 0 17px;
          font-size: $font-size-14px;
        }
      }

      @media (max-width: 436px) {
        .choose-delivery-option {
          display: none;
        }
      }
    }

    .buy-container {
      width: 309px;
      height: 283px;
      display: flex;
      flex-direction: column;
      padding: 14px 18px;
      border: $tertiary-border-color;
      border-radius: 8px;

      .buy-button {
        padding: 11px 65px;
        border: none;
        border-radius: 8px;
        font-size: 13px;
        background-color: $primary-button-color;
        box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
        cursor: pointer;
      }

      @media (max-width: 1170px) {
        .buy-button {
          width: 280px;
        }
      }

      @media (max-width: 870px) {
        .buy-button {
          width: 100%;
        }
      }

      .buy-button:hover {
        background-color: $primary-button-hover-color;
      }

      .choose-payment-text {
        padding: 10px 0;
        font-size: $font-size-12px;
        text-align: center;
        border-bottom: $tertiary-border-color;
        color: #565959;
      }

      h3 {
        padding-top: 10px;
        margin-bottom: 20px;
        font-size: 18px;
      }

      .order-items {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        font-size: $font-size-12px;
        color: #0f1111;
      }

      .shipping-handling {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        font-size: $font-size-12px;
        color: #0f1111;
      }

      .total-tax {
        display: flex;
        justify-content: space-between;
        padding-bottom: 8px;
        border-bottom: $tertiary-border-color;
        font-size: $font-size-12px;
        color: #0f1111;
      }

      .order-total {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        font-size: 18px;
        font-weight: bold;
        color: #b12704;
      }
    }

    @media (max-width: 870px) {
      .buy-container {
        width: 100%;
        border: none;
      }
    }
  }

  @media (max-width: 1180px) {
    .purchase-info {
      width: 100%;

      section {
        margin-right: 10px;

        .chosen-address-spacing {
          width: 100%;
        }

        .selected-card {
          width: 100%;
        }

        .purchase-page-products {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: 870px) {
    .purchase-info {
      display: flex;
      flex-direction: column;
    }
  }
}
