@import "/src/sass/mixins.scss";
@import "/src/sass/variables.scss";
@import "/src/sass/colors.scss";

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #e3e6e6;

  .background-spacing {
    position: relative;

    .home-background-image {
      width: 1500px;
      height: 600px;
    }

    .left-button {
      width: 80px;
      height: 250px;
      position: absolute;
      top: 0;
      left: 74px;
      border: none;
      background-color: transparent;
      cursor: pointer;

      img {
        width: 34px;
        height: 39px;
      }
    }

    .left-button:focus {
      box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #008296;
    }

    .right-button {
      width: 80px;
      height: 250px;
      position: absolute;
      top: 0;
      right: 74px;
      border: none;
      background-color: transparent;
      cursor: pointer;

      img {
        width: 34px;
        height: 39px;
      }
    }

    .right-button:focus {
      box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #008296;
    }
  }
}
