@import "/src/sass/mixins.scss";
@import "/src/sass/variables.scss";
@import "/src/sass/colors.scss";

.orders {
  width: 920px;
  margin: 7px auto;
  color: $tertiary-text-color;

  .orders-nav {
    font-size: $font-size-14px;

    .your-account {
      margin-right: 5px;
      color: #007185;
      text-decoration: none;
    }

    a:hover {
      @include linkHoverEffect;
    }

    span {
      margin-right: 5px;
    }

    .your-orders {
      margin: 0;
      color: #c45500;
      text-decoration: none;
    }
  }

  .search-orders {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    h1 {
      font-size: 28px;
      font-weight: normal;
    }
  }
}
