@import "/src/sass/mixins.scss";
@import "/src/sass/variables.scss";
@import "/src/sass/colors.scss";

.one-product-page {
  color: $tertiary-text-color;

  .one-product-spacing {
    padding-top: 20px;

    .back-to-results {
      display: flex;
      align-items: center;
      padding-left: 16px;
      margin-bottom: 20px;
      font-size: $font-size-12px;

      img {
        width: 7px;
        height: 7px;
        margin-right: 2px;
      }

      a {
        text-decoration: none;
        color: #565959;
        cursor: pointer;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .one-product-info {
      display: flex;
      padding: 14px 18px 18px;

      .product-image {
        display: flex;
        align-items: center;
        padding: 20px;

        img {
          width: 364px;
          height: 266px;
        }
      }
    }
  }
}
